<html lang="en" ng-app="DrivenPendulum">
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700,400italic">
    <link rel="stylesheet" href="/css/angular_material/0.8.3/angular-material.min.css">
    <link rel="stylesheet" href="/css/site.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <meta name="viewport" content="initial-scale=1" />
    <meta charset="utf-8">
  </head>
  <body layout="column" ng-controller="PendulumCtrl as pend">
    <md-toolbar layout="row">
      <h1 class="md-toolbar-tools" layout-align-gt-sm="center">The Driven Pendulum</h1>
    </md-toolbar>
    <div layout="row" flex>
      <!--md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        sidenav
      </md-sidenav -->
      <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding">
          <div layout="row" flex>
            <div layout="column" flex=66>
              <div layout flex id="pendulum-animation" style="height: 400px; border:1px solid #ccc; margin-right: 10px"></div>
              <div layout flex id="pendulum-graph" style="height:400px; border: 1px solid #ccc; margin-right: 10px; margin-top: 10px;"></div>
            </div>
            <div layout="column" flex=33>
              <value-sliders></value-sliders>
              <md-button ng-click="pend.go();" class="md-fab">Go</md-button>
              <span ng-cloak ng-repeat="p in pend.parameters">{{ p.value | number:2 }}</span>
            </div>
          </div>
        </md-content>
      </div>
    </div>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="pendulum.js"></script>
  </body>
</html>
