<!DOCTYPE html>
<html ng-app="Gravity">
<head lang="en">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
  <link rel="stylesheet" href="/css/site.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
  <meta charset="UTF-8">
  <title></title>
</head>
<body layout="column" flex ng-controller="GravityCtrl as grav">

<md-toolbar layout="row">
  <h1 class="md-toolbar-tools" layout-align-gt-sm="center">Gravity/h1>
</md-toolbar>
<md-progress-linear class="divider" md-mode="indeterminate" ng-show="grav.busy"></md-progress-linear>
<div layout="row" flex>
  <div layout="column" flex=66 class="presentation">
    <gravity-animation flex id="gravity-animation" class="animation-container" ng-init="grav.init();"></gravity-animation>
  </div>
  <div layout="column" flex=33>
    <div class="cm-documentation">
      Here is some documentation and some example links.<br/>
      <a ng-click="grav.set({theta0:3.1416,phi0:3.1416}); grav.go();" href>FIXME</a>,
    </div>
    <value-sliders ></value-sliders>
    <div layout="row" layout-align="space-around center">
      <md-button ng-click="grav.go();" class="md-fab">Go</md-button>
    </div>
  </div>
</div>
<!-- Angular Material Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="/js/services.js"></script>
<script src="/gravity/gravity.js"></script>

</body>
</html>
