<!DOCTYPE html>
<html lang="en" ng-app="Pendulum">
<head>
  <link rel="stylesheet" href="/js/node_modules/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="/css/site.css">
  <meta name="viewport" content="initial-scale=1" />
  <meta charset="utf-8">
</head>
<body layout="column" ng-controller="DrivenPendulumCtrl as pend">
<md-toolbar layout="row">
  <h1 class="md-toolbar-tools" layout-align-gt-sm="center">The Driven Pendulum</h1>
</md-toolbar>
<md-progress-linear class="divider" md-mode="indeterminate" ng-show="pend.busy"></md-progress-linear>
<div layout="row" flex>
  <div layout="column" flex=66 class="presentation">
    <driven-pendulum-animation flex=50 id="pendulum-animation" class="animation-container" ng-init="pend.init()"></driven-pendulum-animation>
    <div flex=50 id="pendulum-graph" class="graph-container"></div>
  </div>
  <div layout="column" flex=33>
    <div class="cm-documentation">
      Here is some documentation and some example links.<br/>
      <a ng-click="pend.set({A:0}); pend.go();" href>plain</a>,
      <a ng-click="pend.set({g:-1.2,theta0:1.5}); pend.go();" href>antigravity</a>,
      <a ng-click="pend.set({omega:32, theta0: 2.8, A:0.15}); pend.go();" href>vertical equilibrium</a>,
      <a ng-click="pend.set({});" href>reset</a>
    </div>
    <value-sliders></value-sliders>
    <div layout="row" layout-align="space-around center">
      <md-button ng-click="pend.go();" class="md-fab">Go</md-button>
    </div>
  </div>
</div>
<!-- Angular Material Dependencies -->
<script src="/js/node_modules/angular/angular.min.js"></script>
<script src="/js/node_modules/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/js/node_modules/angular-animate/angular-animate.min.js"></script>
<script src="/js/node_modules/angular-aria/angular-aria.min.js"></script>
<script src="/js/node_modules/angular-material/angular-material.min.js"></script>
<script src="/js/node_modules/d3/d3.min.js"></script>
<script src="/js/services.js"></script>
<script src="/js/pendulum.js"></script>
</body>
</html>
