<html lang="en" ng-app="Pendulum">
<head>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
  <link rel="stylesheet" href="/css/site.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
  <meta name="viewport" content="initial-scale=1" />
  <meta charset="utf-8">
</head>
<body layout="column" ng-controller="DrivenPendulumCtrl as pend">
<md-toolbar layout="row">
  <h1 class="md-toolbar-tools" layout-align-gt-sm="center">The Driven Pendulum</h1>
</md-toolbar>
<div layout="row" flex>
  <div layout="column" flex id="content">
    <md-content layout="column" flex>
      <div layout="row" flex>
        <div layout="column" flex=66>
          <driven-pendulum-animation layout flex></driven-pendulum-animation>
          <div layout flex id="pendulum-graph" class="graph-container"></div>
        </div>
        <div layout="column" flex=33>
          <div class="pendulum-documentation">
            Here is some documentation and some example links.<br/>
            <a ng-click="pend.set({A:0}); pend.go();" href>plain</a>,
            <a ng-click="pend.set({g:-1.2,theta0:1.5}); pend.go();" href>antigravity</a>,
            <a ng-click="pend.set({omega:32, theta0: 2.8, A:0.15}); pend.go();" href>vertical equilibrium</a>
          </div>
          <value-sliders></value-sliders>
          <div layout="row" layout-align="space-around center">
            <md-button ng-click="pend.go();" class="md-fab">Go</md-button>
          </div>
        </div>
      </div>
    </md-content>
  </div>
</div>
<!-- Angular Material Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="pendulum.js"></script>
</body>
</html>
