<html lang="en" ng-app="Rigid">
<head>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="/css/site.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
  <meta name="viewport" content="initial-scale=1" />
  <meta charset="utf-8">
</head>
<body layout="column" ng-controller="RigidCtrl as rigid">
<md-toolbar layout="row">
  <h1 class="md-toolbar-tools" layout-align-gt-sm="center">Rigid Rotation</h1>
</md-toolbar>
<md-progress-linear class="divider" md-mode="indeterminate" ng-show="rigid.busy"></md-progress-linear>
<div layout="row" flex>
  <div layout="column" flex=66 class="presentation">
    <rigid-animation id="rigid-animation" flex></rigid-animation>
    <div layout flex id="rigid-graph" class="graph-container"></div>
  </div>
  <div layout="column" flex=33>
    <div class="cm-documentation">
      Here is some documentation and some example links.<br/>
      <a ng-click="rigid.set({});" href>reset</a>,
      <a ng-click="rigid.set({theta0:0.3,psi0:1,thetaDot0:0.3,t:45})" href>test</a>
    </div>
    <value-sliders></value-sliders>
    <div layout="row" layout-align="space-around center">
      <md-button ng-click="rigid.go();" class="md-fab">Go</md-button>
    </div>
  </div>
</div>

<!-- Angular Material Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/threejs/r69/three.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="/js/services.js"></script>
<script src="/rigid/rigid.js"></script>
</body>
</html>
