<svg viewBox="-1.2 -1.2 2.4 2.4">
  <g id="pendulum-frame">
    <text x="-1" y="-1" font-size="0.1">t={{pend.t | number:2}}</text>
    <line id="strut" class="pendulum-strut"
      ng-attr-x1="0" ng-attr-y1="{{pend.y}}"
      ng-attr-x2="{{pend.x1()}}" ng-attr-y2="{{pend.y1()}}"></line>
    <circle id="pivot" class="pendulum-pivot"
            ng-attr-cx="0" ng-attr-cy="{{pend.y}}" r="0.02"></circle>
    <circle id="bob" class="pendulum-bob theta"
            ng-attr-cx="{{pend.x1()}}" ng-attr-cy="{{pend.y1()}}" r="0.08"></circle>
</svg>
