path.domain {
  stroke-width: 1px;
  stroke: #888;
  fill: none;
}

line.pendulum-strut {
  stroke-width: 3px;
  stroke: #444;
  fill: #888;
}

circle.pendulum-pivot {
  fill: #040;
}

circle.pendulum-bob {
  fill: black;
}

circle.pendulum-bob.theta {
  fill: #a00;
}

circle.pendulum-bob.phi {
  fill: #0a0;
}

circle.graph-point.phi {
  opacity: 0.5;
}

circle.graph-point.theta {
  opacity: 0.5;
}

div.graph-container {
  background: #d0d4dc;
}

div.animation-container {
  background: #b2b6be;
}

div.cm-documentation {
  padding: 5px;
}

/* odd that we need this... */
md-progress-linear.divider .md-container {
  top: 0;
}