path.domain {
  stroke-width: 1px;
  stroke: #888;
  fill: none;
}

line.pendulum-strut {
  stroke-width: 3px;
  stroke: #444;
  fill: #888;
}

circle.pendulum-pivot {
  fill: #040;
}

circle.pendulum-bob {
  fill: black;
}

circle.graph-point.phi {
  opacity: 0.5;
}

circle.graph-point.theta {
  opacity: 0.5;
}